@font-face{
  font-family: "RobotoMono";
  src: url(
    '../src/fonts/RobotoMono-VariableFont_wght.ttf'
  );
}
*{
  font-family: RobotoMono, monospace;
}
body {
  display: flex;
  height: 100hv;
  justify-content: center;
  align-items: center;
  color: #fff1ef;
  background: linear-gradient(to right, rgb(1, 31, 48), rgb(12, 36, 170), rgb(1, 30, 150));
}
